.globalScrollbar {
  overflow: auto;
  &::-webkit-scrollbar {
    width: 2px;
    height: 2px;
    border-radius: 1px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 1px;
    background: #dce3e8;
    background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.2, #59b7ea),
      color-stop(0.7, #7ab7f1),
      color-stop(1, #495fed)
    );
    cursor: pointer;
  }
}

.globalScrollbar-X {
  overflow-y: hidden;
  overflow-x: auto;
  &::-webkit-scrollbar {
    width: 2px;
    height: 2px;
    border-radius: 1px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 1px;
    background: #dce3e8;
    background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.2, #59b7ea),
      color-stop(0.7, #7ab7f1),
      color-stop(1, #495fed)
    );
    cursor: pointer;
  }
}

.globalScrollbar-Y {
  overflow-y: auto;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 2px;
    height: 2px;
    border-radius: 1px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 1px;
    background: #dce3e8;
    background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.2, #59b7ea),
      color-stop(0.7, #7ab7f1),
      color-stop(1, #495fed)
    );
    cursor: pointer;
  }
}
